.header-container {
  background-color: #2e2e2e;
  padding: 20px; }

.header {
  padding-top: 10px !important;
  color: #fff !important; }
  .header .weather-icon {
    display: inline-block !important;
    margin: 0 30px !important; }
    .header .weather-icon.sun {
      color: orange !important; }
    .header .weather-icon.cloud {
      color: #006fa7 !important; }

.form-container {
  display: inline-block;
  margin-top: 20px; }
  .form-container .input {
    margin: 20px !important; }

.weather-container {
  display: inline-block;
  text-align: left;
  background-color: #495676; }
  .weather-container p {
    font-family: 'Roboto Slab';
    color: #e48181;
    font-size: 15px; }
    .weather-container p span {
      color: white; }

* {
  margin: 0; }

.card-white {
  box-shadow: 0px 0px 20px -4px rgba(0, 0, 0, 0.36);
  display: block;
  margin-bottom: 10px;
  padding: 20px;
  border: 1px solid #dcdcdc;
  border-radius: 10px; }

.App {
  text-align: center; }

.container {
  display: inline-block; }

/* html {
  background-image: url("./images/wth.jpg"); } */
