.header-container {
  background-color: #2e2e2e;
  padding: 20px; }

.header {
  padding-top: 10px !important;
  color: #fff !important; }

.form-container {
  display: inline-block;
  margin-top: 20px; }
  .form-container .input {
    margin: 20px !important; }

* {
  margin: 0; }

.App {
  text-align: center; }

.container {
  display: inline-block; }
